.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-left-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    align-items: center;
}
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  button:disabled{
       cursor: not-allowed;
       --tw-bg-opacity: 1;
       background-color: rgb(34 197 94 / var(--tw-bg-opacity))
  }